/*=============================================
=            PIE            =
=============================================*/
.pie {
    background-color: var(--yellow-color);
    color: var(--dark-color);
    align-items: center;
    gap: 3rem;
    padding: 3rem;
    text-align: center;
}
.pie a {
    font-size: 1.6rem;
    font-weight: 600;
}
.pie--politicas {
    font-size: 1.2rem;
    gap: .5rem;
}
.pie--politicas a {
    text-transform: none;
}
.pie--copy {
    font-size: 1.2rem;
    border-top: .5px solid var(--gray-white-color);
    padding-top: 2rem;
}

@media screen and (min-width: 600px) {
    .pie--politicas {
        flex-direction: row;
        gap: 2rem;
    }
}

/*=====  End of PIE  ======*/
 
