
/*=============================================
=            HeaderSeccion            =
=============================================*/

.seccion--cabecera {
    background-image: url(../../assets/img/general/seccion-header.png);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    font-size: 1.7rem;
    height: 15vh;
}

/*=====  End of HeaderSeccion  ======*/

