:root {
  --first-font: "Chau Philomene One", Sans-serif;
  --second-font: "Bellota";
  --yellow-color: #fece00;
  --dark-color: #3c3935;
  --light-dark-color: #616161;
  --white-color: #fff;
  --gray-white-color: #e2e2e2;
  --orange-color: #b45e02;
  --light-orange-color: #ff8800;
  --padding-container: 1rem 4rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: var(--first-font);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--dark-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--yellow-color);
  border-radius: 20px;
  height: 10px;
}

main {
  flex: 1;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
span {
  color: var(--dark-color);
}

h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.d-flex-row {
  display: flex;
}

.d-flex-col {
  display: flex;
  flex-direction: column;
}

.d-none {
  display: none;
}
