
/*=============================================
=            Carta            =
=============================================*/
.filtros ,
.entrantes,
.hamburguesas {
    width: 90vw;
    margin: 0 auto 3rem auto;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.filtros  {
    flex-wrap: wrap;
    gap: .5rem;
    margin-bottom: 0;
}


@media screen and (min-width: 960px) {
    .entrantes,
    .hamburguesas {
        width: 70vw;
    }
}

@media screen and (min-width: 1280px) {
    .entrantes,
    .hamburguesas {
        width: 50vw;
    }
}

/*=====  End of Carta  ======*/

