
/*=============================================
=            ExplicacionMenu            =
=============================================*/

.menu--explicacion {
    color: var(--dark-color);
    border-style: dashed;
    border-radius: 1.2rem;
    border-width: .3rem;
    font-size: 1.4rem;
    max-width: 90vw;
    width: 100%;
    align-self: center;
    padding: 1rem;
}

@media screen and (min-width: 960px) {
    .menu--explicacion {
        width: 70vw;
    }
}

@media screen and (min-width: 1280px) {
    .menu--explicacion {
        width: 50vw;
    }
}

/*=====  End of ExplicacionMenu  ======*/

