
/*=============================================
=            AnadirPuntos            =
=============================================*/

.anadir--puntos {
    align-items: center;
    justify-content: center;
    height: 65vh;
    background-color: var(--dark-color);
}

.anadir--puntos--form {
    margin-top: 1rem;
    gap: 1rem;
}

/*=====  End of AnadirPuntos  ======*/

