
/*=============================================
=            BuscarUsuario            =
=============================================*/

.buscar--usuario {
    align-items: center;
    justify-content: center;
    height: 65vh;
    background-color: var(--dark-color);
}

.buscar--usuario--form {
    margin-top: 1rem;
    gap: 1rem;
}

/*=====  End of BuscarUsuario  ======*/

