
/*=============================================
=            Campo            =
=============================================*/

.campo--label {
    color: var(--white-color);
    font-size: 2rem;
}

.campo--input {
    font-family: var(--second-font);
    border-radius: 2rem;
    padding: 1rem 2rem;
    width: 70vw;
    border: none;
    font-size: 1.6rem;
}
.campo--input:focus {
    outline: .3rem solid var(--yellow-color);
}

@media screen and (min-width: 960px) {
    .campo--input {
        width: 60vw;
    }
}

@media screen and (min-width: 1280px) {
    .campo--input {
        width: 40vw;
    }
}

/*=====  End of Campo  ======*/

