
/*=============================================
=            CanjearRecompensa            =
=============================================*/

.canjear--recompensa {
    align-items: center;
    justify-content: center;
    height: 80vh;
    background-color: var(--dark-color);
}

.canjear--recompensa--form {
    margin-top: 1rem;
    gap: 1rem;
}

.campo--label {
    color: var(--white-color);
    font-size: 2rem;
}

.campo--input {
    border-radius: 2rem;
    padding: 1rem 2rem;
    width: 70vw;
    border: none;
}
.campo--input:focus {
    outline: .3rem solid var(--yellow-color);
}

@media screen and (min-width: 960px) {
    .campo--input {
        width: 60vw;
    }
}

@media screen and (min-width: 1280px) {
    .campo--input {
        width: 40vw;
    }
}

/*=====  End of CanjearRecompensa  ======*/

