
/*=============================================
=            Login            =
=============================================*/

.login {
    align-items: center;
    justify-content: center;
    height: 65vh;
    background-color: var(--dark-color);
}

.login--form {
    margin-top: 1rem;
    gap: 1rem;
}

.register--acceso {
    color: var(--white-color);
    text-align: center;
    font-size: 1.5rem;
    color: var(--light-orange-color);
    text-decoration: underline;
}

/*=====  End of Login  ======*/

