
/*=============================================
=            Transacciones            =
=============================================*/

.transacciones {
    border-radius: 2rem;
    outline: .2rem solid var(--dark-color);
    color: var(--dark-color);
    height: 100%;
    width: 90vw;
    margin: 0 auto;
    justify-content: start;
    padding: 2rem;
    gap: 1rem;
}

.transacciones--titulo {
    text-align: start;
    text-transform: uppercase;
}

.transacciones--desc {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.transacciones--campo {
    gap: 1rem;
}

@media screen and (min-width: 960px) {
    .transacciones {
        width: 40vw;
    }
}

@media screen and (min-width: 1280px) {
    .transacciones {
        width: 20vw;
        min-height: 70vh;
    }
}

/*=====  End of Transacciones  ======*/

