
/*=============================================
=            Usuarios            =
=============================================*/

.usuarios {
    border-radius: 2rem;
    outline: .2rem solid var(--dark-color);
    color: var(--dark-color);
    height: 100%;
    width: 90vw;
    margin: 0 auto;
    justify-content: start;
    padding: 2rem;
    gap: 1rem;
}

.usuarios--titulo {
    text-align: start;
    text-transform: uppercase;
}

.usuarios--desc {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.usuarios--campo {
    gap: 1rem;
}

@media screen and (min-width: 960px) {
    .usuarios {
        width: 60vw;
    }
}

@media screen and (min-width: 1280px) {
    .usuarios {
        width: 20vw;
        height: 70vh;
    }
    .usuarios--campo {
        padding: 1rem;
        max-height: 100%; 
        padding-right: 1rem;
        overflow-y: auto;
    }
    .usuarios--campo::-webkit-scrollbar-track {
        border-radius: 2rem;
    }
}

/*=====  End of Usuarios  ======*/

