
/*=============================================
=            VentanaSecundaria            =
=============================================*/

.ventana--secundaria {
    align-items: center;
    justify-content: center;
    height: 65vh;
    background-color: var(--dark-color);
}

.ventana--secundaria--titulo {
    color: var(--white-color);
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-align: center;
    padding: 1rem;
}

.ventana--secundaria--form {
    margin-top: 1rem;
    gap: 1rem;
}

/*=====  End of VentanaSecundaria  ======*/

