
/*=============================================
=            Conocenos            =
=============================================*/

.conocenos--secciones {
    justify-content: center;
    align-items: end;
}

.conocenos--final {
    text-align: center;
    max-width: 90vw;
    margin: 2rem auto;
    font-size: 2rem;
}

/*=====  End of Conocenos  ======*/

