
/*=============================================
=            Conocenos            =
=============================================*/

.conocenos--secciones {
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 960px) {
    .conocenos--secciones {
        flex-direction: row;
    }
}

/*=====  End of Conocenos  ======*/

