
/*=============================================
=            Blog            =
=============================================*/

.blog--titulo {
    margin: 2rem auto 0 auto;
    max-width: 90vw;
    font-size: 2.2rem;
}

.blog--secciones {
    gap: 2rem;
    margin: 2rem auto;
    max-width: 90vw;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 1280px) {
    .blog--titulo {
        font-size: 2.5rem;
    }

    .blog--secciones {
        flex-direction: row;
        flex-wrap: wrap;
        margin: 2rem auto 4rem auto;
        gap: 5rem;
    }
}

/*=====  End of Blog  ======*/

