DB_HOST=mariadb
DB_NAME=producto_fideplus_lamarta
DB_USER=lamarta_app
DB_PASS=change-this-db-password
MARIADB_ROOT_PASSWORD=change-this-root-password
REGISTER_ACCESS_CODE=change-this-registration-code
